.post-form {
  &__text {
    text-align: center;
  }

  &__form {
    text-align: center;
    margin: 5% 30px;
    
    div {
      display: flex;
    
      input, textarea {
        width: 100%;
        margin: 5px 0;
      }
    }
  }

  &__link {
    color: white;
    border: none;
    font-weight: bold;

    &--cancel {
      background-color: crimson;
      padding: 5px 10px;
    }
    &--submit {
      background-color: seagreen;
      padding: 5px 15px;
    }
  }
}
